*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(112, 24, 24);
    font-family: sans-serif;
}

.head{
    margin-top: 2rem;
}

h1{
    text-align: center;
    color: rgb(216, 181, 138);
}

h3{
    color: rgb(216, 181, 138);
    margin-top: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
}

label{
    color: rgb(216, 181, 138);
}

input{
    padding: 10px;
    border: 2px solid rgb(216, 181, 138);
    border-radius: 5px;
    background-color: rgba(146, 64, 64, 0.301);
    font-size: 1rem;
    color: rgb(216, 181, 138);
    outline: none;
}

input::selection{
    background-color: rgba(16, 55, 230, 0.452);
}

#envio{
    margin-top: 15px;
    background-color: rgba(12, 46, 33, 0.89);
    border: 2px solid rgb(138, 216, 177);
    color: rgb(138, 216, 177);
    padding: 10px;
    cursor: pointer;
}

input::placeholder{
    color: rgb(216, 181, 138);
}

.container-table{
    margin-top: 50px;
    padding: 0 150px;
}

table{
    width: 100%;
    flex-direction: column;    
}

th{
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 2rem;
    color: rgb(216, 181, 138);
}

td{
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
    color: rgb(216, 181, 138);
    display: flex;
    justify-content: space-between;
}

#nomeSorteado{
    font-size: 1.2rem;
    color: rgb(216, 181, 138);
}

.content-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-button > button{
    padding: 10px 25px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.content-button > button:hover{
    opacity: .8;
}

.limpar{
    background-color: #a71919;
}

.sortear{
    background-color: rgba(12, 46, 33, 0.89);
}

#apagar{
    border: none;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
    font-weight: bolder;
}